﻿@model SocDocLa.Models.ArticlesModel
@{
    ViewBag.Title = ".: Thêm bài viết mới :.";
}

<script src="../../Scripts/autoNumeric_1.9.1.js"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")"></script>
@*Date picker*@
<link href="../../Content/calendar/css/jquery-ui-1.8.10.redmond.css" rel="stylesheet" />
<script src="../../Content/calendar/jquery-ui.custom.min.js"></script>
<script src="@Url.Content("~/Content/calendar/jquery.ui.datepicker-vi.js")"></script>
@*End date picker*@

<script type="text/javascript">
    $(document).ready(function () {
        $(".auto").autoNumeric();
        $("#txtDatePost").datepicker();
        $("#txtDateExpiration").datepicker();
        CKEDITOR.replace('ckAbstract', {
            extraPlugins: 'uploadimage'
        });

        CKEDITOR.replace('ckAbstract_en', {
            extraPlugins: 'uploadimage'
        });
        //});
        CKEDITOR.replace('ckMetaDescription', {
            extraPlugins: 'uploadimage'
        });

        CKEDITOR.replace('ckMetaKeywords', {
            extraPlugins: 'uploadimage'
        });

        CKEDITOR.replace('ckBody', {
            extraPlugins: 'uploadimage'
        });

        CKEDITOR.replace('ckBody_en', {
            extraPlugins: 'uploadimage'
        });
        $(".ImageUpload > div > div:last-child").css("display", "none");
    });
</script>

<label style="font-weight: bold; color: red">Tài khoản không có quyền truy cập vào trang này</label>
<input type="hidden" id="hdNumImage" />
<div class="clear10"></div>
<div style="width: 785px">
    @using (Html.BeginForm("AddNewArticles", "Articles", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
    {
@*<div style="font-weight: bold; color: red; text-align: center">Message</div>*@
        <div class="clear0"></div>

        <div class="property_addnew">
            <div class="property_addnew_left">Danh mục:</div>
            <div class="property_addnew_right">
                @Html.DropDownList("dropdownDanhMuc",
                                    new SelectList(ViewBag.Categories as System.Collections.IEnumerable,
                                    "CateID", "Title", ""))
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Tiêu đề: </div>
            <div class="property_addnew_right">
                @Html.TextBoxFor(model => model.Title)
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Title)</span>
        </div>

        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Tiêu đề (en): </div>
            <div class="property_addnew_right">
                @Html.TextBoxFor(model => model.Title_en)
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Title_en)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Trích dẫn:</div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.Abstract, new { @id = "ckAbstract" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Abstract)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Trích dẫn (en):</div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.Abstract_en, new { @id = "ckAbstract_en" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Abstract_en)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Meta Description:</div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.MetaDescription, new { @id = "ckMetaDescription" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.MetaDescription)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Meta Keyworks :</div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.MetaKeywords, new { @id = "ckMetaKeywords" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.MetaKeywords)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">
                Hình đại diện:<input type="checkbox" value="Chèn chữ ký: " />
            </div>
            <div class="property_addnew_right">
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Thuộc tính alt ảnh đại diện: </div>
            <div class="property_addnew_right">
                <input type="file" id="file" name="file" style="width: 200px" />
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Nội dung:</div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.Body, new { @id = "ckBody" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Body)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Nội dung (en):</div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.Body_en, new { @id = "ckBody_en" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Body_en)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Vị trí: </div>
            <div class="property_addnew_right">
                @Html.TextBoxFor(modelItem => modelItem.DisplayOrder)
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Ngày đăng: </div>
            <div class="property_addnew_right">
                <input type="text" id="txtDatePost" style="width: 250px" autocomplete="off" readonly="true" value="" />
                <input type="hidden" value="" id="hidFrom" name="hidFrom" />
                <input type="hidden" value="" id="hidTo" name="hidTo" />
                <input type="hidden" value="" id="hidNumOfDays" name="hidNumOfDays" />
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Ngày hết hạn: </div>
            <div class="property_addnew_right">
                <input type="text" id="txtDateExpiration" style="width: 250px" autocomplete="off" readonly="true" value="" />
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">
                <br />
            </div>
            <div class="property_addnew_right">
                @Html.CheckBoxFor(model => model.CommentsEnabled)
                Cho bình luận
            @Html.CheckBoxFor(model => model.OnlyForMembers)Dành cho thành viên
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">
                <br />
            </div>
            <div class="property_addnew_right">
                @Html.CheckBoxFor(model => model.ApprovedComments)
                Duyệt tin
            @Html.CheckBoxFor(model => model.OnlyForMembers)Bài viết nổi bật
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">
                <br />
            </div>
            <div class="property_addnew_right">
                @Html.CheckBoxFor(model => model.ConfirmOrder)
                Xác nhận đơn hàng
            @Html.CheckBoxFor(model => model.IsApproved)Tự động duyệt bình luận
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Ngày tạo: </div>
            <div class="property_addnew_right">
                none
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Người tạo: </div>
            <div class="property_addnew_right">
                none
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Ngày update: </div>
            <div class="property_addnew_right">
                none
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Người update: </div>
            <div class="property_addnew_right">
                none
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Đánh giá: </div>
            <div class="property_addnew_right">
                none
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Lượt xem: </div>
            <div class="property_addnew_right">
                none
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">
                <br />
            </div>
            <div class="property_addnew_right">
                <input type="submit" value="Cập nhật bài viết" />
            </div>
        </div>
        
    }
</div>
