﻿@model SocDocLa.Models.ProductModel
@{
    ViewBag.Title = ".: Thêm sản phẩm mới :.";
    
}

<script src="../../Scripts/autoNumeric_1.9.1.js"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")"></script>
@*Date picker*@
<link href="../../Content/calendar/css/jquery-ui-1.8.10.redmond.css" rel="stylesheet" />
<script src="../../Content/calendar/jquery-ui.custom.min.js"></script>
<script src="@Url.Content("~/Content/calendar/jquery.ui.datepicker-vi.js")"></script>
@*End date picker*@
<script type="text/javascript">
    $(document).ready(function () {
        $(".auto").autoNumeric();
        $("#txtDatePost").datepicker();
        $("#txtDateExpiration").datepicker();
        CKEDITOR.replace('ckDescription_en', {
            extraPlugins: 'uploadimage'
        });

        CKEDITOR.replace('ckDescription', {
            extraPlugins: 'uploadimage'
        });
        //});
        CKEDITOR.replace('ckFeature', {
            extraPlugins: 'uploadimage'
        });

        CKEDITOR.replace('ckFeature_en', {
            extraPlugins: 'uploadimage'
        });

        CKEDITOR.replace('ckMetaDescription', {
            extraPlugins: 'uploadimage'
        });

        CKEDITOR.replace('ckMetaKeywords', {
            extraPlugins: 'uploadimage'
        });

        CKEDITOR.replace('ckSummary', {
            extraPlugins: 'uploadimage'
        });
        CKEDITOR.replace('ckSummary_en', {
            extraPlugins: 'uploadimage'
        });
        $(".ImageUpload > div > div:last-child").css("display", "none");
    });
</script>



<label style="font-weight: bold; color: red">Tài khoản không có quyền truy cập vào trang này</label>
<input type="hidden" id="hdNumImage" />
<div class="clear10"></div>
<div style="width: 785px">
    @using (Html.BeginForm("AddNewProduct", "Products", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
    {
@*<div style="font-weight: bold; color: red; text-align: center">Message</div>*@
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Danh mục:</div>
            <div class="property_addnew_right">
                @* @Html.DropDownList("maDanhMucId",Model.CateID, "[Tất cả]")*@
                @Html.DropDownList("dropdownDanhMuc",
                                    new SelectList(ViewBag.Categories as System.Collections.IEnumerable,
                                    "CateID", "Title", ""))
            </div>

        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Tên sản phẩm: </div>
            <div class="property_addnew_right">
                @Html.TextBoxFor(model => model.Title)
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Title)</span>
        </div>

        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Tên sản phẩm (en): </div>
            <div class="property_addnew_right">
                @Html.TextBoxFor(model => model.Title_en)
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Title_en)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Mã sản phẩm: </div>
            <div class="property_addnew_right">
                @Html.TextBoxFor(model => model.ProductCode)
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.ProductCode)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Nhà sản xuất:</div>
            <div class="property_addnew_right">
                @Html.TextBoxFor(model => model.Manufacturer)
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Manufacturer)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Size sản phẩm:</div>
            <div class="property_addnew_right">
                @Html.TextBoxFor(model => model.Size)
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Size)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Số lượng sản phẩm:</div>
            <div class="property_addnew_right">
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Giá gốc:</div>
            <div class="property_addnew_right">
                @*@Html.TextBoxFor(model => model.UnitPrice, new { @class = "auto {mNum:10, mDec:0}", @style = "text-align:right" })*@
                 @Html.TextBoxFor(model => model.UnitPrice)
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.UnitPrice)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Giá bán:</div>
            <div class="property_addnew_right">
                @*@Html.TextBoxFor(model => model.SalePrice, new { @class = "auto {mNum:10, mDec:0}", @style = "text-align:right" })*@
                @Html.TextBoxFor(model => model.SalePrice)
            </div>
             <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.SalePrice)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Giá khuyến mãi:</div>
            <div class="property_addnew_right">
                @*@Html.TextBoxFor(model => model.PromotionPrice, new { @class = "auto {mNum:10, mDec:0}", @style = "text-align:right" })*@
                 @Html.TextBoxFor(model => model.PromotionPrice)
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.PromotionPrice)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">% Khuyến mãi:</div>
            <div class="property_addnew_right">
                @*@Html.TextBoxFor(model => model.PromotionPercent, new { @class = "auto {mNum:10, mDec:0}", @style = "text-align:right" })*@
                @Html.TextBoxFor(model => model.PromotionPercent)
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.PromotionPercent)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Bảo hành:</div>
            <div class="property_addnew_right">
                @Html.TextBoxFor(model => model.Warranty)
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Warranty)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Mô tả:</div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.Description, new { @id = "ckDescription" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Description_en)</span>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">
                Mô tả (en):            
            </div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.Description_en, new { @id = "ckDescription_en" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Description_en)</span>
            <div class="property_addnew_right">
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Tính năng:</div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.Feature, new { @id = "ckFeature" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Feature)</span>
            <div class="property_addnew_right">
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Tính năng (en):</div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.Feature_en, new { @id = "ckFeature_en" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Feature_en)</span>
            <div class="property_addnew_right">
            </div>
        </div>
    
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Meta Description:</div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.MetaDescription, new { @id = "ckMetaDescription" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.MetaDescription)</span>
            <div class="property_addnew_right">
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Meta Keyworks :</div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.MetaKeywords, new { @id = "ckMetaKeywords" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.MetaKeywords)</span>
            <div class="property_addnew_right">
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">
                Hình đại diện:<input type="checkbox" value="Chèn chữ ký: " />
            </div>
            <div class="property_addnew_right">
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Thuộc tính alt ảnh đại diện: </div>
            <div class="property_addnew_right">
                <input type="file" id="file" name="file" style="width: 200px" />
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Chi tiết sản phẩm: </div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.Summary, new { @id = "ckSummary" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Summary)</span>
            <div class="property_addnew_right">
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Chi tiết sản phẩm (en): </div>
            <div class="property_addnew_right">
                @Html.TextAreaFor(model => model.Summary_en, new { @id = "ckSummary_en" })
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.Summary_en)</span>
            <div class="property_addnew_right">
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Vị trí: </div>
            <div class="property_addnew_right">
                @Html.TextBoxFor(model => model.DisplayOrder)
            </div>
            <span style="color: #ff0000; font-style: italic;">@Html.ValidationMessageFor(model => model.DisplayOrder)</span>
            <div class="property_addnew_right">
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Ngày đăng: </div>
            <div class="property_addnew_right">
                <input type="text" id="txtDatePost" style="width: 250px" autocomplete="off" readonly="true" value="" />
                <input type="hidden" value="" id="hidFrom" name="hidFrom" />
                <input type="hidden" value="" id="hidTo" name="hidTo" />
                <input type="hidden" value="" id="hidNumOfDays" name="hidNumOfDays" />
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Ngày hết hạn: </div>
            <div class="property_addnew_right">
                <input type="text" id="txtDateExpiration" style="width: 250px" autocomplete="off" readonly="true" value="" />
            </div>
        </div>
       
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">
                <br />
            </div>
            <div class="property_addnew_right">
                @Html.CheckBoxFor(model => model.CommentsEnabled)
                Cho bình luận
            @Html.CheckBoxFor(model => model.OnlyForMembers)Dành cho thành viên
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">
                <br />
            </div>
            <div class="property_addnew_right">
                @Html.CheckBoxFor(model => model.IsActive)Duyệt sản phẩm
            <input type="checkbox">Sản phẩm nổi bật
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">
                <br />
            </div>
            <div class="property_addnew_right">
                @Html.CheckBoxFor(model => model.ApprovedComments)Tự động duyệt bình luận
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Ngày tạo: </div>
            <div class="property_addnew_right">
                none
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Người tạo: </div>
            <div class="property_addnew_right">
                none
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Ngày update: </div>
            <div class="property_addnew_right">
                none
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Người update: </div>
            <div class="property_addnew_right">
                none
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Đánh giá: </div>
            <div class="property_addnew_right">
                none
            </div>
        </div>
        <div class="clear0"></div>
        <div class="property_addnew">
            <div class="property_addnew_left">Lượt xem: </div>
            <div class="property_addnew_right">
                none
            </div>
        </div>
        <div class="clear0"></div>
  
        <div class="property_addnew">
            <div class="property_addnew_left">
                <br />
            </div>
            <div class="property_addnew_right">
                <input type="submit" id="btnThemSanPham" value="Cập nhật sản phẩm" />
            </div>
        </div>
    }
</div>
    