﻿@model IEnumerable<SocDocLa.Models.udv_Products>
@{
    ViewBag.Title = ".: Quản lý sản phẩm :.";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#maDanhMucId').val('@ViewData["maDanhMuc"].ToString()');
        $('#txtKeyword').val('@ViewData["search"]');

        $("#btnNew").click(function () {
            window.location.href = '/Products/AddNewProduct/';
        });

        $("#btnSearch").click(function () {            
            window.location.href = '/Products/Index' + '?Search=' + $('#txtKeyword').val() + '&MaDanhMuc=' + $('#maDanhMucId').val();
        });

    });

</script>
<label style="font-weight: bold; color: red">Tài khoản không có quyền truy cập vào trang này</label>

@using (Html.BeginForm("Delete", "Products", FormMethod.Post, new { id = "testform", @class= "signin" }))
    {
<table style="width: 785px; text-align: center">
    <tr>
        <td style="height: 25px" colspan="8">
            <input id="btnNew" type="button" value="Thêm sản phẩm mới" style="float: left; line-height: 25px" />

            <input id="btnSearch" type="button" value="Tìm kiếm" style="float: right; line-height: 25px" />

            <div id="ddlCategories" style="width: 150px; float: right; line-height: 25px; height: 25px">
                @Html.DropDownList("maDanhMucId", "[Tất cả]")
            </div>
            <input id="txtKeyword" type="text" style="float: right; margin-right: 5px" />
            <span style="font-weight: bold; float: right; line-height: 25px; margin-right: 5px">Tìm sản phẩm : </span>
        </td>
    </tr>

    <tr>
        <td class="clear10" colspan="8"></td>
    </tr>
    <tr style="font-weight: bold; background-color: #cccccc; color: #000; height: 40px">
        <td style="width: 20px"></td>
        <td style="width: 60px">Ảnh</td>
        <td style="text-align: left">Tiêu đề</td>
        <td style="width: 120px">Danh mục</td>
        <td style="width: 100px">Giá bán(VND)</td>
        <td style="width: 100px">Ngày tạo</td>
        <td style="width: 100px">Duyệt</td>
        <td style="width: 60px">Vị trí</td>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {        
            <tr>
                <td>
                    <input type="checkbox" class="chkId" name="chkId" value="@item.ProductID"/></td>
                <td>
                    <img src="@Url.Content("~/Content/Images/" + @item.ImageUrl)" width="60" height="50" /></td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.udv_Categories.Title)</td>
                <td>@(String.Format("{0:0,# VNĐ}", Convert.ToInt32(item.SalePrice)))</td>
                <td>@(String.Format("{0:dd/MM/yyyy}", item.AddedDate))</td>
                <td>@Html.DisplayFor(model => item.IsActive)</td>
                <td>@Html.DisplayFor(model => item.DisplayOrder)</td>
            </tr>
        }
        <tr>
            <td colspan="8" class="clear40" style="text-align: center">1|2|3|4
            </td>
        </tr>
    </tbody>
    <tr>
        <td colspan="8" class="clear40">
            <input type="submit" value="Xoá các tin đã chọn" id="btnDelete" style="float: left" />
        </td>
    </tr>
</table>
}
    

