body.myBody {
    background: #7380C2 url(../images/header.jpg) no-repeat center top;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: Tahoma, Verdana, Arial;
}

a {
    text-decoration: none;
    color: #555;
}

    a:hover {
        color: #333;
    }

img {
    border-style: none;
}

#header {
    height: 196px;
    float: left;
    width: 100%;
}

    #header #menu {
        width: 1000px;
        height: 54px;
        margin-top: 138px;
    }

        #header #menu a {
            background: url(../images/t_menu.jpg) no-repeat left top;
            width: 198px;
            height: 54px;
            margin-right: 2px;
            display: block;
            float: left;
            line-height: 54px;
            color: #ccc;
            font-weight: bold;
        }

            #header #menu a:hover {
                background: url(../images/t_menu_h.jpg) no-repeat left top;
                color: #555;
            }

#frame {
    background: url(../images/content.jpg) no-repeat center top;
    width: 100%;
    min-height: 500px;
    float: left;
}

    #frame #layout {
        width: 1000px;
    }

        #frame #layout #top {
            width: 1000px;
            float: left;
            height: 55px;
            background: url(../images/sitemap.jpg) no-repeat center top;
            line-height: 55px;
        }

            #frame #layout #top #top_left {
                float: left;
                width: 190px;
            }

            #frame #layout #top #top_center {
                float: left;
                width: 410px;
                text-align: left;
                padding-left: 20px;
                background: url(../images/bullet.gif) no-repeat left center;
                margin-left: 10px;
                text-transform: uppercase;
                font-weight: bold;
                color: #333;
            }

            #frame #layout #top #top_right {
                float: left;
                width: 360px;
                padding-right: 10px;
                text-align: right;
            }

                #frame #layout #top #top_right a.logout {
                    background: url(../images/logout_g.jpg) no-repeat left top;
                    display: inline-block;
                    width: 105px;
                    height: 30px;
                    padding-left: 35px;
                    text-align: left;
                    margin-top: 10px;
                    line-height: 35px;
                    color: #555;
                }

                    #frame #layout #top #top_right a.logout:hover {
                        background: url(../images/logout_r.jpg) no-repeat left top;
                        color: #222;
                    }

        #frame #layout #middle {
            width: 1000px;
            background: url(../images/middle.jpg) repeat-y left top;
            float: left;
        }

            #frame #layout #middle #middle_left {
                float: left;
                width: 195px;
                text-align: left;
                margin-top: 20px;
            }

                #frame #layout #middle #middle_left #leftmenu {
                    float: left;
                }

                    #frame #layout #middle #middle_left #leftmenu a {
                        float: left;
                        display: block;
                        width: 145px;
                        background: url(../images/l_menu.jpg) no-repeat right top;
                        height: 55px;
                        padding-left: 50px;
                        line-height: 55px;
                        font-weight: bold;
                        color: #fff;
                    }

                        #frame #layout #middle #middle_left #leftmenu a:hover {
                            background: url(../images/l_menu_h.jpg) no-repeat right top;
                            color: #555;
                        }

            #frame #layout #middle #middle_right {
                float: left;
                width: 785px;
                padding: 10px;
                text-align: left;
                min-height: 400px;
            }

        #frame #layout #bottom {
            width: 999px;
            background: url(../images/bottom.jpg) no-repeat center top;
            float: left;
            height: 15px;
        }

#footer {
    background: url(../images/footer.jpg) repeat-x;
    width: 100%;
    height: 75px;
    line-height: 75px;
    color: #fff;
    float: left;
    margin-top: 5px;
}

.grid {
    border: solid 1px #aaa;
}

    .grid th {
        background: #ccc;
        color: #555;
        border-bottom: solid 1px #aaa;
        border-right: solid 1px #aaa;
        height: 30px;
        line-height: 30px;
    }

    .grid td {
        height: 25px;
        line-height: 25px;
    }

.ImageUpload {
}
/*jAlert*/
#popup_container {
    font-family: Arial, sans-serif;
    font-size: 12px;
    min-width: 300px;
    max-width: 600px;
    background: #FFF;
    border: solid 5px #999;
    color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#popup_title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1.75em;
    color: #666;
    background: #CCC url(../Images/title.gif) top repeat-x;
    border: solid 1px #FFF;
    border-bottom: solid 1px #999;
    cursor: default;
    padding: 0em;
    margin: 0em;
}

#popup_content {
    background: 16px 16px no-repeat url(../Images/info.gif);
    padding: 1em 1.75em;
    margin: 0em;
}

    #popup_content.alert {
        background-image: url(../Images/info.gif);
    }

    #popup_content.confirm {
        background-image: url(../Images/important.gif);
    }

    #popup_content.prompt {
        background-image: url(../Images/help.gif);
    }

#popup_message {
    padding-left: 48px;
}

#popup_panel {
    text-align: center;
    margin: 1em 0em 0em 1em;
}

#popup_prompt {
    margin: .5em 0em;
}
/*paging*/
.phantrang span a {
    line-height: 18px;
    background: #494949;
    padding: 0 8px;
    text-align: center;
    color: #fff !important;
}

    .phantrang span a:hover {
        background: #333333;
    }

.phantrang span b {
    background: #333333;
    color: #fff !important;
    padding: 0 8px;
    margin-left: 1px;
}
/*Farbtastic Color Picker 1.2*/
.farbtastic {
    position: relative;
}

    .farbtastic * {
        position: absolute;
        cursor: crosshair;
    }

    .farbtastic, .farbtastic .wheel {
        width: 195px;
        height: 195px;
    }

        .farbtastic .color, .farbtastic .overlay {
            top: 47px;
            left: 47px;
            width: 101px;
            height: 101px;
        }

        .farbtastic .wheel {
            background: url(../Images/wheel.png) no-repeat;
            width: 195px;
            height: 195px;
        }

        .farbtastic .overlay {
            background: url(../Images/mask.png) no-repeat;
        }

        .farbtastic .marker {
            width: 17px;
            height: 17px;
            margin: -8px 0 0 -8px;
            overflow: hidden;
            background: url(../Images/marker.png) no-repeat;
        }


.clear0 {
    clear: both;
    height: 0px;
}

.clear5 {
    clear: both;
    height: 5px;
}

.clear10 {
    clear: both;
    height: 10px;
}

.clear20 {
    clear: both;
    height: 20px;
}

.clear40 {
    clear: both;
    height: 40px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

    table td {
        border: 1px solid #b7b7b7;
    }

.property_addnew {
    overflow:hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

.property_addnew_left {
    text-align: right;
    padding-right: 5px;
    color: #000;
    font-weight: bold;
    float: left;
    width: 150px;
}

.property_addnew_right {
    padding-left: 5px;
    text-align: left;
    float: right;
    width:625px;
}
