﻿<div id="leftmenu">
    <a visible="false" href="#">Về trang chủ</a>
    <a visible="false" id="aWatermark">Chữ ký ảnh</a>
    <a visible="false" id="aManagerUser">Quản lý tài khoản</a>
    <a visible="false" id="aSlideShow">Slide show - Banner</a>
    <a visible="false" id="aDownloadFile">Download - Upload File</a>
    <a visible="false" id="aSupportOnline">Hỗ trợ - Hotline</a>
    <a visible="false" id="aWeblink">Liên kết website</a>
    <a visible="false" id="aGalleryVideo">Video</a>
    <a visible="false" id="aGalleryPhoto">Hình ảnh</a>
    <a visible="false" id="aGalleryImage">Thư viện ảnh</a>
    <a visible="false" id="aVote">Thăm dò ý kiến</a>
    <a visible="false" id="aNewsLetter">Gửi bản tin</a>
    <a visible="false" id="aComment">Bình luận</a>
    <a visible="false" id="aAdvertising">Quảng cáo</a>
    <a visible="false" id="aRewriteURL">Cấu hình rewriteURL</a>
    <a visible="false" id="aMailServer">Cấu hình mail server</a>
</div>
