﻿@{
    ViewBag.Title = "Hệ thống quản trị website";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/WebmasterTool/Css/Default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/Css/style.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/WebmasterTool/Js/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/WebmasterTool/Js/jquery.alerts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/WebmasterTool/Js/jquery.MultiFile.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/WebmasterTool/Js/jquery.jeditable.js")" type="text/javascript"></script>


</head>

<body class="myBody">
    <center>
        <div id="header">
            <div style="width: 1000px; text-align: center">
                <div id="menu">
                    <a visible="false" id="aCompany">Cấu hình chung</a>
                    <a visible="false" id="aCategory">Danh mục</a>
                    <a  href="/Articles/Index" visible="false" id="aArticle">Bài viết</a>
                    <a href="/Products/Index" visible="false" id="aProduct">Sản phẩm</a>
                    <a visible="false" id="aContact">Liên hệ - Đơn hàng</a>
                </div>
            </div>
        </div>
        <div id="frame">
            <div id="layout">
                <div id="top">
                    <!--begin header-->
                    @Html.Partial("_AdminLayoutHeader")
                    <!--end header-->
                </div>
                <div id="middle">
                    <div id="middle_left">
                        <!--begin menu left-->
                        @Html.Partial("_AdminLayoutMenuLeft")
                        <!--end menu left-->
                    </div>
                    <div id="middle_right">
                        @RenderBody()
                    </div>
                </div>
                <div id="bottom">
                </div>
            </div>
        </div>
        <div id="footer">
            Copyright 2012 DigiSky. All right reversed.
        </div>
    </center>

</body>
</html>

