﻿<div id="top_left">
    Các chức năng - tiện ích
</div>
<div id="top_center">
    @*Tên View hiển thị nội dung*@
    Quản Lý Hệ Thống
</div>
<div id="top_right">
    <span id="lblUsername">
        @*ten nguoi dung dang nhap vao Admin*@
        admin
    </span>| 
                        <a href="#">Đổi mật khẩu</a>| 
                        <a id="aChangeAllPass" visible="false">Reset mật khẩu</a>
    <a class="logout" href="#">Đăng xuất</a>
</div>
